/*!***********************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/style/style.css ***!
  \***********************************************************************/
:root {
    --brown1: #7F5539;
    --brown2: #E6CCB2;
    --brown3: rgb(241 221 199 / 75%);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

.hidden {
    display: none !important;
}

.button {
    border: none;
    cursor: pointer;
}

.content {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
    margin-top: 73px;
}
/*!************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/style/header.css ***!
  \************************************************************************/
.header {
    position: fixed;
    width: 100%;
    background: var(--brown1);
    color: #fff;
    display: flex;
    align-items: center;
    padding: 15px;
    justify-content: space-between;
}

.nav {
    display: flex;
    gap: 2vw;
    margin-right: 30px;
}

.nav__button {
    padding: 1ch;
    font-size: 1rem;
    background: transparent;
    color: #fff;
    font-weight: 600;
    border-bottom: 2px solid var(--brown1);
    width: min-content;
    white-space: nowrap;
}

.nav__button:hover {
    border-bottom: 2px solid #fff;
    transition: border 0.5s;
}
/*!**********************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/style/hero.css ***!
  \**********************************************************************/
.hero {
    height: 100%;
    padding: 0 26%;
    transition: padding 0.5s;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background: var(--brown2);
}

.hero__h2 {
    font-size: 3rem;
}

.hero__p {
    font-size: 1em;
}

.hero__button {
    padding: 1ch 2ch;
    border-radius: 10px;
    background: var(--brown1);
    color: #fff;
    font-size: 1.1rem;
    font-weight: 600;
    transition: transform 0.2s;
}

.hero__button:hover {
    transform: scale(1.2);
}

@media (max-width: 1000px) {
    .hero {
        padding: 0 15%;
        transition: padding 0.5s;
    }
}
/*!************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/style/footer.css ***!
  \************************************************************************/
.footer {
    display: grid;
    grid-template-rows: 3fr 1fr;
    padding: 15px;
    gap: 25px;
    background: var(--brown1);
    color: white;
}

.branch-container {
    display: flex;
    justify-content: space-around;
}

.branch__city {
    font-size: 1.2rem;
    font-weight: 900;
    border-bottom: 1px solid var(--brown2);
    padding-bottom: 5px;
}

.branch__address {
    padding-top: 5px;
}

.branch__phone {
    color: white;
    text-decoration: none;
}

.footer__credits {
    display: flex;
    justify-content: center;
    gap: 1ch;
}

.footer__a > img {
    height: 1rem;
}
/*!**********************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/style/menu.css ***!
  \**********************************************************************/
.menu {
    background: var(--brown2);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.menu__title {
    font-size: 3rem;
    margin-bottom: 50px;
}

.menu__section {
    width: 100%;
    column-count: 2;
    gap: 30px 10px;
}

.menu__meals {
    padding: 10px;
    transition: background 0.25s;
    border-radius: 20px;
}

.menu__meals:hover {
    background: var(--brown3);
}

.menu__h3 {
    margin-bottom: 10px;
    font-size: 2rem;
}

.menu__meal {
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    grid-template-rows: 1fr 2fr;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    gap: 0 15px;
}

.menu__separator {
    border-bottom: 0.15rem inset var(--brown1);
    border-bottom-style: dotted;
    grid-area: 1 / 2 / span 1 / span 1;
}

.menu__meal-description {
    grid-area: 2 / 1 / span 1 / span 2;
    white-space: pre-wrap;
    padding-top: 5px;
}

.menu__meal-price {
    grid-area: 1 / 3 / span 2 / span 1;
    justify-self: end;
    padding: 0 1ch;
    padding-top: 0.6rem;
    font-weight: 700;
}

.menu__carnes {
    -webkit-column-break-before: always;
    page-break-before: always;
    break-before: column;
}

@media (max-width: 1000px) {

    .menu__section {    
        column-count: 1;
    }

    .menu__carnes {
        -webkit-column-break-before: avoid;
        page-break-before: avoid;
        break-before: avoid;
    }
}
/*!*************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/style/aboutus.css ***!
  \*************************************************************************/
.about-us {
    height: 100%;
    background: var(--brown2);
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 15%;
    text-align: center;
}

.about-us__h2 {
    font-size: calc(2vw + 1.5rem);
    margin: 50px 0;
}

.about-us__p {
    margin-bottom: 50px;
}

