/*!*****************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/style.css ***!
  \*****************************************************************/
* {
    padding: 0;
    margin: 0;
}

.hidden {
    display: none;
}

.button {
    border: none;
}
/*!***************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/nav.css ***!
  \***************************************************************/

